<h1>This is a secret.</h1>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>


<img src="http://www.slate.com/content/dam/slate/articles/life/human_guinea_pig/2007/05/070507_HGP_TheSecret.jpg.CROP.promo-xlarge2.jpg">