.banner {
  background-color: gray;
  margin: 0 auto;
  padding: 2em;
}

body {
  background-color: #232323;
}

.display {
  background-color: white;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
}

button {
  background-color: white;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  color: white;
  text-align: center;
}

.square {
  background: #232323;
  float: left;
  margin: 1.66%;
  padding-bottom: 30%;
  width: 30%;
}

.selected {
  background-color: gray;
}
