h1 {
  border-bottom: 2px solid gray;
  font-family: Raleway;
  margin-left: 1.66%;
  padding-bottom: 20px;
  width: 30%;
}

.image-container {
  float: left;
  margin: 1.66%;
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;

}

img {
  /*clip: rect(90px,300px,300px,0px);*/
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;
}
